@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin button($w){
    width: $w;
    height: 40px;
    background-color: #ea625c;
    color: #f7f7f7;
    border: none;
    border-radius: 1px;
    font-size: 13px;
    font-weight: bold;
    margin: 30px 0 0 240px;
    transition: 0.5s ease all;
    &:hover{
        background-color: #ea635c8e;
    }
}

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    width: 80%;
    height: 80px;
    display: block;
    // position: absolute;
    // right: 0;
    align-items: center;
    a{
        text-decoration-line: none;
        font-size: 0.8rem;
        color: #999999;
    }
    input{
        border: none;
        text-decoration-line: underline;
    }
}


.main{
    width: 80%;
    height: 601px;
    border-bottom: 1px solid #e0dfdf;
    img{
        width: 625;
        height: 600px;
        display: inline-block;
        position: absolute;
        right: -250px;
        top: 80px;
    }
    h2{
        font-size: 2.5rem;
        font-weight: bold;
        color: #333333;
        margin-bottom: 50px;
        padding: 150px 0 0 240px;
    }
    .text{
        width: 550px;
        height: 100px;
        font-size: 0.95rem;
        color: #999;
        padding-left: 30px;
        border-left: 2px solid #999;
        margin-left: 240px;
        
    }
    button{
        @include button(180px)
    }
}

.function{
    width: 80%;
    height: 600px;
    img{
        width: 326,4px;
        height: 489.6px;
    }
}

.footer{
    width: 100%;
    height: 500px;
}